.navbar-brand img
{
    height: 50px;
}

.background1{
    background-image:linear-gradient( rgba(255, 255, 255, 0.656) ,rgba(132, 132, 132, 0.673)) , url('img/hero-bg-light.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.background1 img{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    
}
.background1 h1{
    text-align: center;
    font-size: 50px;
    color: #494949;
    font-weight: 700;
    padding-top: 60px;
    
}
.background1 h1::after{
    content: ' QuickStart';
    color:rgb(68, 188, 235);
}
.background1 p{
    color: #717171 !important;
}
.bi-briefcase{
    font-size: 40px;
    color: #000000;
    border: 4px solid #00000000;
    background-color: rgb(200, 240, 255);
    height: 60px;
    width: 70px;
    display: flex;
    margin-top: 18px;
} 

.briefcase:hover{
    background: rgb(209, 242, 255);
}

.bi-card-checklist{
    font-size: 40px;
    color: #000000;
    border: 4px solid #00000000;
    background-color: rgb(200, 240, 255);
    height: 60px;
    width: 70px;
    display: flex;
    margin-top: 18px;

}
.bi-bar-chart{
    font-size: 40px;
    color: #000000;
    border: 4px solid #00000000;
    background-color: rgb(200, 240, 255);
    height: 60px;
    width: 70px;
    display: flex;
    margin-top: 18px;

}
.briefcase{
    display: flex ;
}
.briefcase i:hover
{
    background-color: skyblue;
    color: white;
    transition: transform 0.5s;
}
.ipsum{
    display: flex;
    background: rgb(247, 253, 255);
}

.who{
    margin-top: 50px;
    background: rgb(242, 252, 255);
    height: 650px;
    padding-top: 20px;
}
.Unleashing{
    padding-left: 20px;
}
.Unleashing h1{
    font-size: 47px;
    font-weight: 700;
    padding-top: 40px; 
}  
.Unleashing h4{
    font-size: 20px;
    color: #494949;
    font-weight: 700;

}    
.whospic {
    height: 600px;
    width: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;

}
.whospic img{
    height: 600px;
    width: 420px; 
    transition: 0.7s;  
    border-radius: 15px 15px 15px 15px;
}
.whospic:hover img{
    transform: scale(1.2);
}


.whospic2 img{
    height: 260px;
    border-radius: 15px 15px 15px 15px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 30px;

}
.whospic2:hover{
    transform: scale(1.1);  
    transition: 0.7s;  
}

.logos img{
    height: 47px;
    width: 100px;
    margin-top: 50px;
    margin-left: 20px;
    transition: calc(.5s);
    filter: grayscale(90%);
}
.logos img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    filter: grayscale(0%);
}
.logoimg{
    display: flex;
    justify-content: center;
    gap: 130px;
}
.features{
    width: 100%;
    text-align: center;
}
.features h1{
    margin-top: 50px;
    border-bottom: skyblue 4px solid;
    align-items: center;
    width: 150px;
    margin-left: 45%;
}
.features p{
    margin-top: 20px;
    font-size: 20px;
}


.modi{
    margin-top: 0px;
    width:520px;
}

.moditxt{
    height: 160px;
    margin-top: 30px;
    border-radius: 15px 15px 15px 15px;
    padding-top: 10px;
    padding-left: 20px;
}
.moditxt:hover{
    background: rgb(224, 248, 255);
}

.moditxt h1{
    font-size: 26px;
    margin-left: 85px;
}
.moditxt i{
    font-size: 40px;
    margin-left: 20px;
    
}
.bi-binoculars ,.bi-box-seam ,.bi-brightness-high {
   background:  #ffffff;
   border-radius:  50px 50px 50px 50px;
   height:65px ;
   width:65px ;
   position: absolute;
   text-align: center;
   left: 90px;
}
.moditxt p{
    width: 348px;
    margin-left:99px;
}
.modimg{
    overflow: hidden;
    border-radius: 17px 17px 17px 17px;
    height: 545px;
    width: 586px;
}
.modimg img{
    height: 545px;
    width: 586px;
    margin-top: 50px;
    border-radius: 15px 15px 15px 15px;
}
.modimg:hover img{
    transform: scale(1.1);
    transition: calc(.5s);
    border-radius: 15px 15px 15px 15px;
}

.mainmodi{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    background: rgb(242, 252, 255);
    height: 650px;
}

.Corporisimg{
    height: 550px;
    width: 733px;
    border-radius: 15px;
    overflow: hidden;
}
.Corporisimg img{
    height: 550px;
    width: 733px;
    border-radius: 15px;
}
.Corporisimg:hover img{
    transform: scale(1.1);
    transition: calc(.6s);
}
.Corporistxt{
    height: 250px;
    width: 550px;
    margin-left:70px ;
    margin-top: 170px;
    border-radius: 15px;
    background: rgb(242, 252, 255);
}
.Corporistxt:hover{
    background: rgb(224, 248, 255);
}


.Nequeimg{
    height: 550px;
    width: 733px;
    border-radius: 15px;
    overflow: hidden;
}
.Nequeimg img{
    height: 550px;
    width: 733px;
    border-radius: 15px;
}
.Nequeimg:hover img{
    transform: scale(1.1);
    transition: calc(.6s);
}
.Nequetxt{
    height: 250px;
    width: 550px;
    margin-left:70px ;
    margin-top: 170px;
    border-radius: 15px;
    background: rgb(242, 252, 255);
}
.Nequetxt:hover{
    background: rgb(224, 248, 255);
}



.mainservices{
    background: rgb(242, 252, 255);
    margin-top: 70px;
    height: 930px;
}

.box1{
    background: rgb(242, 252, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    border-radius: 20px;
}
.mainbox{
    height: 200px;
    padding-top: 10px;
    width: 650px;
    display: flex;
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid rgb(228, 228, 228);
}
.mainbox:hover{
    background: rgb(216, 245, 255);
}

.icons i {
    height:60px ;
    width: 60px;
    border-radius: 14px;
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.bi-activity {
    background: rgb(242, 252, 255);
    border: 1.9px solid rgb(98, 193, 230);
}
.bi-broadcast {
    background: rgb(242, 252, 255);
    color: orangered;
    background: rgb(255, 210, 194);
    border: 1.9px solid rgb(255, 117, 67);
}
.bi-easel {
    background: rgb(242, 252, 255);
    color: #20c997;
    border: 1px solid #20c997;
}
.bi-bounding-box-circles {
    background: rgba(223, 21, 4, 0.1);
    color: #df1529;
    border: 1px solid #df1529;
}
.bi-calendar4-week {
    color: #6610f2;
    border: 1px solid #6610f2;
    background: rgba(102, 16, 242, 0.1);
}
.bi-chat-square-text {
    color: #f3268c;
    border: 1px solid #f3268c;
    background: rgba(243, 38, 140, 0.1);
}



.enim{
    margin-top: 70px;
    padding-left:20px ;
    padding-right:20px ;
}
.enimtxt{
    margin-top: 100px;
}
.enimimg img{
    height: 500px;
}
.rowicons i{
    background: #00000000;
    border: 0px;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px;
}
.bi-patch-check{
    color: #20c997;
}



.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    color: #6c757d;
}
.footer h5 {
    font-size: 25px;
    color: #343a40;
    margin-bottom: 20px;
}
.footer a {
    color: #6c757d;
    text-decoration: none;
}
.footer a:hover {
    color: #007bff;
}
.footer .social-icons a {
    margin-right: 15px;
    font-size: 24px;
}
.newsletter-input {
    width: 100%;
    max-width: 300px;
}





































.black{
    height: 300px;
    width: 100%;
    background: #935c5c !important;
}